name: CI

on: [issues, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Issue and Pull Request virtual assistant
      uses: ppapapetrou76/virtual-assistant@0.3.1
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
